XML 2.Quản lý khách hàng/KhachHang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/khachhang"
           xmlns="http://example.org/khachhang"
           elementFormDefault="qualified">
    
    <xs:element name="DanhSachKhachHang">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="KhachHang" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaKH" type="MaKHType"/>
                            <xs:element name="TenKH" type="xs:string"/>
                            <xs:element name="NgaySinh" type="xs:date"/>
                            <xs:element name="SoDienThoai" type="SoDienThoaiType"/>
                            <xs:element name="Email" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="MaKHType">
        <xs:restriction base="xs:string">
            <xs:pattern value="KH[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="SoDienThoaiType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
