XML 3. Quản lý điện thoại/DienThoai.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/dienthoai"
           xmlns="http://example.org/dienthoai"
           elementFormDefault="qualified">
    
    <xs:element name="DanhSachDienThoai">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DienThoai" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaDT" type="MaDTType"/>
                            <xs:element name="TenDT" type="xs:string"/>
                            <xs:element name="HangSX" type="HangSXType"/>
                            <xs:element name="Gia" type="GiaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="MaDTType">
        <xs:restriction base="xs:string">
            <xs:pattern value="DT[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="HangSXType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Apple"/>
            <xs:enumeration value="Samsung"/>
            <xs:enumeration value="Xiaomi"/>
            <xs:enumeration value="Oppo"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GiaType">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="1000000"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
