XML Bài 1/xml_bai1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="SinhVien">
    <xs:complexType>
      <xs:sequence>

        <!-- Mã số sinh viên: 7 chữ số -->
        <xs:element name="MSSV">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9]{7}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <!-- Họ tên -->
        <xs:element name="HoTen" type="xs:string"/>

        <!-- Lớp -->
        <xs:element name="Lop">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="KHMT60"/>
              <xs:enumeration value="KHMT61"/>
              <xs:enumeration value="KHMT62"/>
              <xs:enumeration value="KHMT63"/>
              <xs:enumeration value="KHMT64"/>
              <xs:enumeration value="KHMT65"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <!-- Danh sách môn học -->
        <xs:element name="MonHoc" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MaMon">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z]{2}[0-9]{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TenMon" type="xs:string"/>
              <xs:element name="SoTinChi">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="5"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Diem">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
